
    /node_modules
    /.pnpm
    .venv
    venv

    .idea/
    .vscode/
    __pycache__/
    *.pyc
    *.pyo
    *.pyd
    .DS_Store

    .env
    .env.*
    *.env

    *.log

    /dist
    /build

    .poetry/


    uploads/photos/*
    uploads/resumes/*

    !uploads/photos/.gitkeep
    !uploads/resumes/.gitkeep