.dynamic-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
  background-size: 400% 400%;
  animation: gradient-animation 15s ease infinite;
}

@keyframes gradient-animation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Градиент для соискателя (Seeker) - светлая тема */
.seeker-gradient {
  background-image: linear-gradient(
    -45deg,
    var(--color-app-background-light) 0%,
    var(--color-seeker-primary-light) 25%,
    var(--color-app-background-light) 50%,
    var(--color-seeker-primary-light) 75%,
    var(--color-app-background-light) 100%
  );
}

/* Градиент для соискателя (Seeker) - темная тема */
.dark .seeker-gradient {
  background-image: linear-gradient(
    -45deg,
    var(--color-app-background-dark) 0%,
    var(--color-seeker-primary-dark) 25%,
    var(--color-app-background-dark) 50%,
    var(--color-seeker-primary-dark) 75%,
    var(--color-app-background-dark) 100%
  );
}

/* Градиент для работодателя (Employer) - светлая тема */
.employer-gradient {
  background-image: linear-gradient(
    -45deg,
    var(--color-app-background-light) 0%,
    var(--color-employer-primary-light) 25%,
    var(--color-app-background-light) 50%,
    var(--color-employer-primary-light) 75%,
    var(--color-app-background-light) 100%
  );
}

/* Градиент для работодателя (Employer) - темная тема */
.dark .employer-gradient {
  background-image: linear-gradient(
    -45deg,
    var(--color-app-background-dark) 0%,
    var(--color-employer-primary-dark) 25%,
    var(--color-app-background-dark) 50%,
    var(--color-employer-primary-dark) 75%,
    var(--color-app-background-dark) 100%
  );
}